.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  border-bottom: 1px solid #000;
  padding: 2%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-weight: 700;
  color: #fff;
  background-color: #154cff;

}

h1 {
  font-size: 4rem;
}

 a {   
  text-decoration: none;
 }

 a:visited {
  color: #fff;
 }

 
 a:hover {
  color: #444;
  transition: all 0.5s ease-in-out;
 }

 form {
   margin: 4% auto;
   display: flex;
   flex-flow: column nowrap;
   width: 40%;
 }

 input {
  width: 100%;
  margin: 1% 0;
  padding: 1%;
 }

 label {
   font-weight: 500;
   text-align: left;
   margin: 1% 0;
 }

 button {
   padding: 2%;
   font-weight: 700;
 }